* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #020A18;
}

.header {
    margin-bottom: 160px;
}

.header__link {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 40px 16px;
}

.header__link:hover {
    color: #020A90;
}

.nav {
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 1147px;
}

.subtitle {
    color: #3A68B8;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}

.dsc {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;

}

.main__link {
    border-radius: 5px;
    background-color: #3A68B8;
    padding: 1rem 2rem;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 20px;
}

.main__right {
    display: flex;
    justify-content: end;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main__left {
    margin-right: 128px;
}

.main__left,
.main__right {
    width: 47%;
    margin-bottom: 200px;
}

.logo__main {
    margin-bottom: 256px;
}

.about__ai__left {
    margin-right: 68px;
}

.about__ai__right {
    padding-top: 110px;
    justify-content: end;
}

.about__ai {
    margin-bottom: 264px;
}

.about__ai__subtitle {
    color: #FFF;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.about__ai_text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 50px;
    opacity: 0.7;
}

.feature__container {
    margin-bottom: 243px;
}

.feature__item {
    width: 33.33%;
    padding: 30px;
}

.feature__title {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
    margin-bottom: 30px;
}

.feature__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.feature__text {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.feature__img {
    max-height: 110px;
    display: block;
    margin: 0 auto 30px;
}

.about {
    margin-bottom: 221px;
}

.about__left {
    padding-top: 14px;
    margin-right: 25px;
}

.about__text {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 20px;
    opacity: 0.7;
}

.about__subtitle {
    color: #FFF;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
}


.footer__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.footer__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__item {
    width: 33.33%;
    padding: 48px 0px 48px 0px;
    margin-right: auto;
}

.footer__infarmation {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}

.footer__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
    width: 70%;
}

.footer__link {
    padding: 10px;
}

.footer__link:hover {
    color: #020A90;
}