@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&family=Lato:wght@300;400;700;900&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
* :before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input ::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button ::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  font-family: Lato; }

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px); }

.header {
  background-color: #222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__left {
  padding-top: 18px; }

.header__icon__left {
  margin-right: 41px; }

.search__icon {
  margin-top: 10px; }

.header__right {
  padding-top: 26px; }

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
  background-color: #F1E4E6; }

.top__img {
  margin-left: -220px;
  margin-right: 60px; }

.top__content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top__icon {
  max-width: 12px;
  max-height: 92px;
  margin-right: 16px; }

.title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal; }

.of__luxerius {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.fashion {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.mid__content_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px; }

.mid__text {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  z-index: 2; }

.mid__subtitle {
  text-align: center;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  z-index: 2; }

.mid__item {
  position: relative;
  padding-top: 105px; }

.mid__item1 {
  width: 360px;
  height: 260px;
  background: url(/img/mid_img1.svg);
  background-size: cover; }

.mid__item2 {
  width: 360px;
  height: 260px;
  background: url(/img/mid_img2.svg);
  background-size: cover; }

.mid__item3 {
  width: 360px;
  height: 260px;
  background: url(/img/mid_img3.svg);
  background-size: cover; }

.mid__item4 {
  position: relative;
  padding-top: 65px;
  width: 1140px;
  height: 180px;
  background: url(/img/mid_img4.svg);
  background-size: cover;
  margin-bottom: 96px; }

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
  z-index: 0; }

.product__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product__block {
  width: 30.7%;
  margin: 0 30px 25px 0;
  background-color: #F8F8F8;
  position: relative; }

.cart_hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(72%, rgba(58, 56, 56, 0)), color-stop(28%, rgba(248, 248, 248, 0)));
  background: -webkit-linear-gradient(top, rgba(58, 56, 56, 0) 72%, rgba(248, 248, 248, 0) 28%);
  background: -o-linear-gradient(top, rgba(58, 56, 56, 0) 72%, rgba(248, 248, 248, 0) 28%);
  background: linear-gradient(to bottom, rgba(58, 56, 56, 0) 72%, rgba(248, 248, 248, 0) 28%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 188px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400; }

.cart_hover:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(71%, rgba(58, 56, 56, 0.83)), color-stop(29%, rgba(248, 248, 248, 0)));
  background: -webkit-linear-gradient(top, rgba(58, 56, 56, 0.83) 71%, rgba(248, 248, 248, 0) 29%);
  background: -o-linear-gradient(top, rgba(58, 56, 56, 0.83) 71%, rgba(248, 248, 248, 0) 29%);
  background: linear-gradient(to bottom, rgba(58, 56, 56, 0.83) 71%, rgba(248, 248, 248, 0) 29%);
  content-visibility: visible;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease; }

.cart__button {
  width: 139px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: #FFFFFF solid 1px; }

.product__img {
  width: 100%;
  margin-bottom: 25px; }

.product__info {
  margin-left: 16px; }

.product__title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px; }

.product__text {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 16px; }

.product__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px; }

.products__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 60px;
  -ms-flex-line-pack: center;
  align-content: center; }

.products__button {
  background-color: #fff;
  color: #F16D7F;
  width: 212px;
  height: 48px;
  border: #FF6A6A solid 1px; }

.footer__top {
  background-color: #222224;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 103px; }

.footer__item_top {
  width: 360px;
  text-align: center;
  margin-right: 30px; }

.footer__icon {
  margin-bottom: 28px; }

.footer__icon2 {
  margin-bottom: 20px; }

.footer__title {
  color: #FBFBFB;
  font-size: 19.96px;
  font-weight: 400;
  margin-bottom: 16px; }

.footer__top__text {
  color: #FBFBFB;
  font-size: 13.972px;
  font-weight: 300; }

.subscribe__info {
  background: url(/img/subscribe_info_bg.svg) no-repeat center 70%;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 97px;
  position: relative; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.footer__quote {
  text-align: center;
  width: 360px;
  z-index: 2; }

.quote__text {
  margin-top: 30px;
  text-align: center;
  color: #222224;
  font-size: 20px;
  font-weight: 400; }

.subscribe__menu {
  padding-top: 53px;
  z-index: 2; }

.subscribe__title {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%; }

.subscribe__text {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 39px; }

.email__input {
  width: 256px;
  height: 49px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 22px; }

.subscribe__button {
  width: 100px;
  height: 49px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #E05C6E;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400; }

.social__network {
  height: 79px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.social__network_left {
  padding-top: 30px; }

.social__network_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px; }

.social__networks {
  text-align: center;
  padding-top: 8px;
  margin-right: 8px; }

.brand__rights {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400; }

.social__networks {
  width: 32px;
  height: 32px;
  background-color: #fff; }

.instagram_icon {
  background-color: #E05C6E; }

@media (max-width: 1139px) {
  body {
    padding: 16px; }
  .header {
    padding-left: 20px;
    padding-right: 20px; }
  .mid__content_wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 19px; }
  .mid__item {
    width: 32%; }
  .product__img2 {
    height: 327px; }
  .product__block {
    width: 30%; } }

@media (max-width: 1023px) {
  .top__img {
    margin-left: -50px;
    margin-right: 10px;
    max-width: 386px;
    max-height: 386px; }
  .title {
    font-size: 44px; }
  .of__luxerius {
    font-size: 24px; }
  .fashion {
    font-size: 24px; }
  .mid__content_wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 19px; }
  .mid__item1 {
    width: 231px;
    height: 167px; }
  .mid__item2 {
    width: 231px;
    height: 167px; }
  .mid__item3 {
    width: 231px;
    height: 167px; }
  .product__block {
    width: 47%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px 22px 0px 0px; } }

@media (max-width: 767px) {
  .header {
    width: 100vh; }
  .top__img {
    display: none; }
  .top__content {
    width: 100vh;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .mid__content_wraper {
    display: block; }
  .mid__item {
    width: 100vh;
    height: 70vh;
    background-size: 100vh;
    margin-bottom: 32px; }
  .mid__item4 {
    width: 100vh; }
  .product__block {
    width: 100vh;
    margin-bottom: 17px; }
  .product__item {
    display: block;
    width: 100vh; }
  .product__info {
    width: 90vh; }
  .product__title {
    font-size: 3.4vh; }
  .product__text {
    font-size: 3vh; }
  .product__price {
    font-size: 3vh; }
  .products__footer {
    width: 90vh; } }
